.country__wrap {
    width: 884px;
    height: 244px;
    border-radius: 40px;
    background: #deab4d;
    padding: 20px 35px;
    margin-bottom: 31px;
}
.country__wrap:last-child {
    height: 262px;
    margin-bottom: 0;
}
.text {
    margin-left: 2.5rem;
    margin-top: -1.8rem;
}
.away {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    color: #2B261D;
}
.pic{
    display: flex;
    gap: 30px;
    margin-top: 1rem;
}
.aw {
    display: flex;
    gap: 9.8rem;
}
.country__wrapMiddle {
    display: none;
}

@media (max-width: 768px){
    .country__wrapMiddle {
        display: block;
    }
    .country__wrap:first-child {
        display: none;
    }
    .country__wrap:last-child {
        width: 382px;
    }
}